*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 10px 10px;
}
/* header and navigation styles */
.header{
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

/* navigation styles */
/* nav{
    padding: 200px 200px;
} */

nav ul {
    display: flex;
    /* align-items: center; */
    /* justify-content: end; */
    justify-content: right;
 }
nav li {
    color: #444343;
    list-style: none;
    margin-right: 130px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;
}

/* banner styles */
.banner{
    text-align: right;
    width: 525px;
    position: absolute;
    right: 0;
    padding-right: 130px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-top: 120px;    

}
.banner-description{
    font-size: 18px;
    color: #444343;
    margin-top: 25px;
    margin-bottom: 30px;
}

/* failure section styles */
.failure-section{
    margin: 200px 130px;
    display: flex;
    align-items: center;
}
.failure-section img{
    width: 570px;
    height: 725px;
}
.failure-content{
    margin-left: 90px;
    text-align: left;
    width: 416px;
    height: 400px;
}
.failure-content p, .success-content p{
    margin-top: 20px;
}
.failure-content i{
    color: #ff0606;
    padding-right: 15px;
}
.success-content i{
    color: rgb(21, 193, 21);
    padding-right: 15px;

}
.failure-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}
.failure-sub-title{
    color: #444343e8;
}

/* success section styles */

.success-section{
    padding-left: 100px;
}
.success-content{
    margin-right: 90px;
    text-align: left;
    width: 416px;
    height: 400px;
}

/* My Success Shape */
.my-success-img .rounded_shape {
	background-color: #f5f5f5;
	position: absolute;
	/* bottom: 0; */
	height: 570px;
	width: 570px;
	border-radius: 50%;
	z-index: -1;
}

/* My Success Image */
.my-success-img img {
	height: auto;
	width: 570px;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}